body{
    display:flex;
    background-color: grey ;
}
.color{
    float: left;
    background-color: rgb(243, 214, 214);
    width: 200px;
    height: 373px;
}



  #mainContainer{
      display: flex;
      flex-wrap: wrap;
      float: right;
      width: 100%;
      /* width: 1000px;
      height: 300px; */
      flex: 1;
      background-color: white;

  }

  .square{
      width: 10px;
      height: 10px;
      border: 0.5px solid black;
  }

  #grid {
    display: grid;
    width: 100%;
    grid-template-columns: 30% 30%;
    display: grid;
    grid-gap: 10px;
    padding: 40px;
  }
  
  /* #areaA {
    background-color: lime;
  } */
  
  #areaB {
    background-color: yellow;
  }
  #areaC {
    background-color: black;
  }
  #areaD {
    background-color: blue;
  }
  #areaE {
    background-color: green;
  }
  #areaF {
    background-color: white;
  }
  #areaG {
    background-color: orange;
  }
  #areaH {
    background-color: pink;
  }

  #clear{
    margin-left: 40%;
  }